.button {
  min-width: 60px;
  padding: 12px 26px;
  font-size: var(--font-size);
  border-radius: 26px;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}

.button.primary {
  background: #000;
  color: #fff;
  transition: background 0.4s ease;
}

.button.primary:hover {
  background: #1f1f1f;
}
