.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper nav ul {
  list-style: none;
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: var(--font-size);
}

.wrapper nav ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px){
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .wrapper .item:last-child {
    display: none;
  }
}
