.header h4 {
  font-size: 28px;
  font-family: "Poppins", "Arial", sans-serif;
}

.modalContent {
  max-width: none !important;
  width: 900px !important;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
}

.wrapper .item {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header h4 {
    font-size: 18px;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper .item {
    margin: 10px 0px;
  }

  .modalContent {
    width: 90% !important;
  }

}
