.middleBanner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: url(../../assets/middle-banner-background.jpg);
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper .item {
  width: 50%;
}

.wrapper .item > h2 {
  font-size: 38px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  max-width: 260px;
  margin: 40px 0px;
}

.wrapper .item:first-child {
  padding-left: 60px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper .item {
    width: 100%;
  }

  .wrapper .item:first-child {
    padding: 10px;
  }

}
